{% extends 'blog/base.html'%}
{% load static %}

{% block content %}


<div class="col-sm-10 text-white">

    <h1 class='text-white my-5 text-center'><strong>Know About Us</strong></h1>

    <p>You’d be surprised to learn how much better some customers may feel after learning where your business is based. By mentioning where you’re from, you can further build trust with people of that area.

“Oh they’re located in Sacramento, I used to holiday there!”

Don’t hesitate to mention the location of both your office and where your product is shipped from because it can help erode a buyer’s reluctance to buy from you.

Here’s how Printful solves the ‘I’m worried it’ll take me ages to get my product’ problem:</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ratione magnam sit! 
    Accusantium sequi dolorem, dignissimos quibusdam illo minima repudiandae!</p>
</div>

{% endblock content %}