{% extends 'blog/base.html'%}
{% load static %}

{% block content %}

<div class="col-sm-4">


</div>




<div class="col-sm-4 text-white">

    <h3 class='text-white my-4'>Be Authors of your own Ideas</h3>
    <h2 class='align-middle text-center py-4'>Join Us</h2>

    {% if messages %}
    {% for message in messages %}

    <p {% if message.tags%} class='alert alert-{{message.tags}} mb-5' {% endif %}>{{message}}</p>

    {% endfor %}

    {% endif %}



    <form action="" method='POST' novalidate>
        {% csrf_token %}

        {% for fm in form %}

        <div class="form-group">
            {{fm.label_tag}} {{fm}} <small class='text-warning'>{{fm.errors|striptags}}</small>
        </div>
        {% endfor %}
        <input type="submit" class='btn btn-primary my-3 ' value='Signup'>


        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class='alert alert-danger my-3'>{{error}}</p>
        {% endfor %}
        {% endif %}


    </form>

</div>


<div class="col-sm-4">

</div>

{% endblock content %}